
html {
    padding:1em;
}

.name {
    font-family:times, serif;
    font-size:14px;
    letter-spacing:3px;
    
}

.godblessamerica{
    margin-top: 6px;
}

.theamericandream {
    margin-top: 100px;
}


a {
    color:black;
    text-decoration:none;
}

.godblessamerica:hover {
font-size:18px;
transition: ease, 2s;
    
}

.theamericandream:hover {
font-size:18px;
transition: ease, 2s;
}

img {
  top:10px;
  right:0px;
  position: fixed;
  padding:1em;
  height:30px;
  width:50px;
}


